/* -------------- button ----------- */
.button_wrap {
  width: 1400px;
  height: 56px;
  padding-left: 469px;
  padding-right: 469px;
  @include clearfix;
  @include box-sizing;
.but {
  @include outline;
  height: 100%;
  width: 220px;
  background: #37c7f8;
  @include border-radius(3px);
  border: none;

  @include box-shadow(#1587ac 0px 3px 0px);
  text-transform: uppercase;
  color: #fff;
  font-family: GothBold ;
  font-weight: 400;
}
  .but1 {
    float: left;
    &:hover {
      background: #2da8d2;
    }
    &:active {
      @include box-shadow(none);
      position: relative;
      top: 3px;
    }
  }
  .but2 {
    @include box-shadow(none);
    float: right;
    background: none;
    border: 1px solid #fff;


    &:hover {
    background: #c0c0c0;
  }
    &:active {
      opacity: 0.9;
    }
  }
}
/* -------------- form ----------- */

.reg {
  width: 405px;
  height: 330px;
  @include box-sizing();
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;
@include border-radius(5px);
  padding: 35px 40px;
  //border: 1px solid black;
  @include box-shadow(#000 0px 1px 3px,#fff 0px 1px 3px inset);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7155b6+0,5f4fab+51,524799+100 */
  background: #7155b6; /* Old browsers */
  background: -moz-linear-gradient(top,  #7155b6 0%, #5f4fab 51%, #524799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #7155b6 0%,#5f4fab 51%,#524799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #7155b6 0%,#5f4fab 51%,#524799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7155b6', endColorstr='#524799',GradientType=0 ); /* IE6-9 */
&__title{
  text-transform: uppercase;
  color: #fff;
  font-family: GothRegul;
  font-size: 21px;
  text-align: center;
  text-shadow: #000 0px 1px 2px ;
  margin-bottom: 34px;
}
  &__input {
    @include placecolor(#fff);
    width: 100%;
    height: 44px;
    margin-bottom: 19px;
    @include border-radius(3px);
    //@include box-shadow(#000 0px 1px 5px inset);
    @include box-shadow(0 2px 5px -1px rgba(255,255,255,.2),#000 0px 1px 5px inset);
    border: 1px solid #6651AF;
    padding-left: 20px;
    background: #594ba1;
    @include box-sizing;
    color: #fff;
    font-family: GothRegul;
    font-size: 14px;
    @include outline;
    &_2{
      margin-bottom: 25px;
    }
  }
  &__button {
    @include placecolor(#fff);
    width: 100%;
    height: 53px;
    margin-bottom: 19px;
    @include border-radius(3px);
    @include box-shadow(#000 0px 1px 4px,#fff 0px 1px 2px -1px inset);
    border: none;
    padding-left: 20px;
    background: #594ba1;
    @include box-sizing;
    color: #fff;
    font-family: GothMed;
    font-size: 13px;
    letter-spacing: 1px;
    @include outline;
    text-transform: uppercase;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a55bbe+0,864a9a+100,6c3c7c+100 */
    background: #a55bbe; /* Old browsers */
    background: -moz-linear-gradient(top,  #a55bbe 0%, #864a9a 100%, #6c3c7c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a55bbe 0%,#864a9a 100%,#6c3c7c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a55bbe 0%,#864a9a 100%,#6c3c7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a55bbe', endColorstr='#6c3c7c',GradientType=0 ); /* IE6-9 */

  &:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a55bbe+0,864a9a+100,a55bbe+100 */
    background: #a55bbe; /* Old browsers */
    background: -moz-linear-gradient(top,  #a55bbe 0%, #864a9a 100%, #a55bbe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a55bbe 0%,#864a9a 100%,#a55bbe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a55bbe 0%,#864a9a 100%,#a55bbe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a55bbe', endColorstr='#a55bbe',GradientType=0 ); /* IE6-9 */
    opacity: 0.9;
  }
    &:active {
      @include box-shadow(#000 0px 1px 2px,#000 0px 1px 2px inset);
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b3c7c+0,9e57b5+51,864a9a+100,6b3c7c+100 */
      background: #6b3c7c; /* Old browsers */
      background: -moz-linear-gradient(top,  #6b3c7c 0%, #9e57b5 51%, #864a9a 100%, #6b3c7c 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #6b3c7c 0%,#9e57b5 51%,#864a9a 100%,#6b3c7c 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #6b3c7c 0%,#9e57b5 51%,#864a9a 100%,#6b3c7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b3c7c', endColorstr='#6b3c7c',GradientType=0 ); /* IE6-9 */

    }
  }
}