extends ../main
block content
    .reg(class="wow slideInLeft" data-wow-duration="2s")
        p.reg__title Login on register
        form.reg__from
            input(type="text" class="reg__input" placeholder="Email address")
            input(type="text" class="reg__input reg__input_2" placeholder="Password")
            input(type="button" class="reg__button" value="contunie")